.overview_panel {
    img {
        width: 100%;
        border-radius: 5px;
    }
    padding: 30px;
    border-radius: 7px;
    box-shadow: var(--box-shadow);
    background-color: var(--background-color-light);
}

.overview_name {
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 0;
}

.overview_region {
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    margin-top: 4px;
    margin-bottom: 24px;
}

.overview_sub_panel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    text-align: center;
}

.overview_label {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-secondary);
}

.overview_value {
    font-size: 22px;
    font-weight: 700;
}

.details_panel {
    border-radius: 7px;
    background-color: var(--background-color-light);
    box-shadow: var(--box-shadow);
}

.details_panel_header {
    padding: 20px;
    font-size: 22px;
    font-weight: 600;
    margin: 0;
    padding-bottom: 0;
}

.details_panel_row {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #e0e0e0;
}

.details_panel_label {
    color: var(--text-secondary);
}

.details_panel_borders {
    padding: 20px;
}

.details_borders_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 24px;
    img {
        width: 100%;
        border-radius: 5px;
    }
}

.details_panel_borders_label {
    margin-bottom: 20px;
    color: var(--text-secondary);
}

.details_panel_borders_country {
    text-align: center;
}

@media screen and (min-width: 720px) {
    .container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 26px;
    }

    .container_left {
        grid-column: 1/ span 4;
    }
    .container_right {
        grid-column: 5/ span 8;
    }
}